*
!.gitignore
!@fortawesome/
!@fortawesome/fontawesome-free
!@fortawesome/fontawesome-free/**
!axios
!axios/**
!bootstrap
!bootstrap/**
!bootstrap-icons
!bootstrap-icons/**
!googlefonts
!googlefonts/**
!holderjs
!holderjs/**
!jquery
!jquery/**
!lodash
!lodash/**
!masonry-layout
!masonry-layout/**
!mockjs
!mockjs/**
!moment
!moment/**
!normalize.css
!normalize.css/**
!popper.js
!popper.js/**

